.place__title {
  margin: 0;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.1;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .place__title {
    padding: 0;
    font-size: 42px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 1.06;
  }
}