.place {
  padding-top: 50px;
}

@media screen and (min-width: 768px) {
  .place {
    display: grid;
    padding-top: 73px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
    row-gap: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    padding-top: 80px;
    column-gap: 32px;
  }
}

.place:first-child {
  padding-top: 0;
}